@stdcolor:#005980ff;
@concolor: white;
@alertcolor: red;
@blackcolor: darken(@stdcolor,40%);
@stdfont:  Arial, Helvetica, sans-serif;
@stdfontsize: 12pt;

body
{
    background-position: bottom right;
}